{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OdontoNutri</title>
    <link rel="icon" href="{% static 'index/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/fontawesome-all.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    {% block head %}{% endblock head %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top transparent-nav" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'portal:index' %}">
          <img class="logomarca-pequena" src="{% static 'index/img/logo_transparencia.png' %}" alt="Logomarca">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger white-link" href="{% url 'portal:projeto' %}">Projeto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger white-link" href="{% url 'portal:documentos' %}">Documentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger white-link" href="{% url 'portal:midia' %}">Mídia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger white-link" href="{% url 'portal:contatos' %}">Contatos</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger white-link" href="{% url 'administracao:login' %}">
                Autenticar <span class="fa fa-sign-in-alt"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <header id="cabecalho">
      <h2 class="text-center">
        <a href="{% url 'portal:projeto' %}">
          OdontoNutri
        </a>
      </h2>      
    </header>
    
    <div class="container content-div">
      {% block content %}{% endblock content %}
    </div>
    
    <footer class="container-fluid">
      <div class="container">
        <div class="row row-30">
          <div class="col-md-4 col-xl-5">
            <div class="pr-xl-4">
              <h5>Sobre</h5>
              <p>A Fábrica de Software é um projeto de extensão do curso de Ciência da Computação
                 da Universidade Federal do Tocantins.</p>
            </div>
          </div>
          <div class="col-md-4">
            <h5>Contato</h5>
            <dl class="contact-list">
              <dt>Endereço:</dt>
              <dd>Av. NS 15, ALCNO 14, Campus Palmas, Bloco III, Sala 05, Plano Diretor Norte, Palmas, Tocantins, CEP 77.001-090</dd>
            </dl>
            <dl class="contact-list">
              <dt>E-mail:</dt>
              <dd><a href="mailto:fabricadesoftware@uft.edu.br">fabricadesoftware@uft.edu.br</a></dd>
            </dl>
            <dl class="contact-list">
              <dt>Telefone:</dt>
              <dd><a href="tel:(63) 3229-4527">(63) 3229-4527</a> <span>or</span> <a href="tel:(63) 3229-4906">3229-4906</a>
              </dd>
            </dl>
          </div>
          <div class="col-md-4 col-xl-3">
            <h5>Links</h5>
            <ul class="nav-list">
              <li><a href="{% url 'portal:index' %}">Home</a></li>
              <li><a href="{% url 'portal:projeto' %}">Projeto</a></li>
              <li><a href="{% url 'portal:documentos' %}">Documentos</a></li>
              <li><a href="{% url 'portal:midia' %}">Mídia</a></li>
              <li><a href="{% url 'portal:contatos' %}">Contato</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://www.facebook.com/fabricadesoftwareuft"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/fabricadesoftwareuft/"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="mailto:fabricadesoftware@uft.edu.br" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <p class="text-center">&copy; 2018 - Universidade Federal do Tocantins</p>
    </footer>
    
    <script src="{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'index/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'index/js/popper.min.js' %}"></script>
    <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'index/js/index.js' %}"></script>
    <script src="{% static 'index/js/mapa.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu4apCMOsjMRElTJPCPgiO0ccKq2i9EcQ&callback=initMap"></script>
  </body>
</html>
