{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
  
  <h2>Entre em contato conosco</h2>
  
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div id="uft"></div>
    </div>
    <div class="col-md-5 offset-md-3">
      <h4>Fábrica de Software</h4>
      <p>E-mail: </p>
      <p>Telefone: </p>
      
      <h4>Coordenação de computação</h4>
      <p>E-mail: </p>
      <p>Telefone: </p>
    </div>
  </div>
  
{% endblock content %}
