{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
  
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div id="uft"></div>
    </div>
    <div class="col-md-5 offset-md-3">
      {% if request.session.lang == "en" %}
        <h4>Federal University of Tocantins</h4>
        <p>Av. NS 15, ALCNO 14, Campus Palmas, Bloco III, Sala 05, Plano Diretor Norte, Palmas, Tocantins, CEP 77.001-090</p>
        
        <h4>Software Factory</h4>
        <p>E-mail: fabricadesoftware@uft.edu.br</p>
        
        <h4>Computer Science course coordination</h4>
        <p>E-mail: comppalmas@uft.edu.br</p>
        <p>Telephone: (63) 3229-4527</p>
      {% else %}
        <h4>Universidade Federal do Tocantins</h4>
        <p>Av. NS 15, ALCNO 14, Campus Palmas, Bloco III, Sala 05, Plano Diretor Norte, Palmas, Tocantins, CEP 77.001-090</p>
        
        <h4>Fábrica de Software</h4>
        <p>E-mail: fabricadesoftware@uft.edu.br</p>
        
        <h4>Coordenação de computação</h4>
        <p>E-mail: comppalmas@uft.edu.br</p>
        <p>Telefone: (63) 3229-4527</p>
      {% endif %}
    </div>
  </div>
  
  <script src="{% static 'index/js/mapa-uft.js' %}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu4apCMOsjMRElTJPCPgiO0ccKq2i9EcQ&callback=initMap"></script>
  
{% endblock content %}
