{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
  
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div id="uft"></div>
    </div>
    <div class="col-md-5 offset-md-3">
      <p>Av. NS 15, ALCNO 14, Campus Palmas, Bloco III, Sala 05, Plano Diretor Norte, Palmas, Tocantins, CEP 77.001-090</p>
      <h4>Fábrica de Software</h4>
      <p>E-mail: fabricadesoftware@uft.edu.br</p>
      
      <h4>Coordenação de computação</h4>
      <p>E-mail: comppalmas@uft.edu.br</p>
      <p>Telefone: (63) 3229-4527</p>
    </div>
  </div>
  
{% endblock content %}
