{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
  
  <div class="float-header">
    <p class="text-center float-header-text">A equipe por trás do projeto</p>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="#">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="img/user/02.jpg" alt="Contact">
            <h4>Audrey Hunt</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="#">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="#">View</a>
            </div>
         </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="#">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="img/user/03.jpg" alt="Contact">
            <h4>Leonard Price</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="#">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="#">View</a>
            </div>
         </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="#">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="img/user/04.jpg" alt="Contact">
            <h4>Jamie Stephens</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="#">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="#">View</a>
            </div>
         </div>
      </div>
    </div>
    </div>

  
{% endblock content %}
