{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
  
  {% for noticia in noticias %}
    <div class="row div-noticia">
      <div class="col-md-3">
        <img class="img-noticia" src="{{ noticia.imagem }}">
      </div>
      <div class="col-md-9">
        <h2 class="titulo-noticia">{{ noticia.titulo }}</h2>
        <p class="small data-noticia">{{ noticia.data }}</p>
        <p class="texto-noticia">{{ noticia.texto|slice:":230" }}...</p>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-{{ noticia.id }}">Ver mais</button>
      </div>
    </div>
    
    <div class="modal fade" id="modal-{{ noticia.id }}" tabindex="-1" role="dialog" aria-labelledby="label-{{ noticia.id }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title titulo-noticia" id="label-{{ noticia.id }}">{{ noticia.titulo }}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-right small data-noticia">{{ noticia.data }}</p>
            <img class="img-noticia" src="https://i.imgur.com/X7x4XJw.jpg">
            <p class="texto-noticia">{{ noticia.texto }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <nav aria-label="Navegação" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
    </ul>
  </nav>
  
{% endblock content %}
