{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
  
  <div class="row div-noticia">
    <div class="col-md-2">
      <img src="http://placehold.jp/180x180.png">
    </div>
    <div class="col-md-10">
      <h2 class="titulo-noticia">Título da notícia</h2>
      <p class="small data-noticia">12/12/2018</p>
      <p class="texto-noticia">Resumo da notícia.</p>
      <a href="#">Ver mais</a>
    </div>
  </div>
  
  <div class="row div-noticia">
    <div class="col-md-2">
      <img src="http://placehold.jp/180x180.png">
    </div>
    <div class="col-md-10">
      <h2 class="titulo-noticia">Título da notícia</h2>
      <p class="small data-noticia">12/12/2018</p>
      <p class="texto-noticia">Resumo da notícia.</p>
      <a href="#">Ver mais</a>
    </div>
  </div>
  
  <div class="row div-noticia">
    <div class="col-md-2">
      <img src="http://placehold.jp/180x180.png">
    </div>
    <div class="col-md-10">
      <h2 class="titulo-noticia">Título da notícia</h2>
      <p class="small data-noticia">12/12/2018</p>
      <p class="texto-noticia">Resumo da notícia.</p>
      <a href="#">Ver mais</a>
    </div>
  </div>

  
{% endblock content %}
