{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}

  <div class="float-header">
    <p class="text-center float-header-text">O OdontoNutri é um sistema que permite a coleta e análise de dados odontológicos</p>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="#">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle img-uni" src="{% static 'administracao/img/logo_uft.jpg' %}" alt="Contact">
            <h4>UFT</h4>
            <a href="http://ww2.uft.edu.br/">Universidade Federal do Tocantins</a>
         </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-2">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="#">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle img-uni" src="{% static 'administracao/img/logo_ufv.png' %}" alt="Contact">
            <h4>UFV</h4>
            <a href="https://www.ufv.br/">Universidade Federal de Viçosa</a>
         </div>
      </div>
    </div>
  </div>

  
{% endblock content %}
