{% extends "portal/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Os arquivo locais vão aqui -->
{% endblock head %}

{% block content %}
    
  <div class="row">
    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-contexto-list" data-toggle="list" href="#list-contexto" role="tab" aria-controls="contexto">Contexto</a>
        <a class="list-group-item list-group-item-action" id="list-justificativa-list" data-toggle="list" href="#list-justificativa" role="tab" aria-controls="justificativa">Justificativa</a>
        <a class="list-group-item list-group-item-action" id="list-objetivos-list" data-toggle="list" href="#list-objetivos" role="tab" aria-controls="objetivos">Objetivos</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-contexto" role="tabpanel" aria-labelledby="list-contexto-list">
          <p>A escola é considerada espaço privilegiado de transformações sociais e individuais e,
          enquanto área institucional de encontro entre os setores de educação e de saúde é lócus por
          excelência para a convivência social e para o estabelecimento de relações favoráveis à
          promoção da saúde (BRASIL, 2009).</p>

          <p>Nas últimas três décadas a percepção dos países em todo o mundo sobre o conceito de
          “promoção da saúde” tem se transformado, implicando em novas abordagens nas práticas de
          “promoção da saúde escolar” que contribuam com mais efetividade para estabelecer
          mudanças de atitudes e opções mais saudáveis de vida, que minimizem as situações de risco à
          saúde de crianças e adolescentes (DEMARZO; AQUILANTE, 2012).</p>

          <p>No Brasil, as políticas públicas envolvendo ações articuladas entre educação e saúde
          foram intensificadas a partir da segunda metade da década de 1990, mediante forte influência
          da concepção de Escolas Promotoras de Saúde (EPS). A origem dessa concepção remonta o
          Movimento da Nova Promoção da Saúde, reconhecido e legitimado no âmbito da América
          Latina pela Organização Pan-americana de Saúde (OPAS), em 1995 (VALADÃO, 2004).</p>

          <p>Atualmente, a política pública nacional de educação e saúde na escola é desenvolvida
          pelo Programa Saúde na Escola (PSE) que foi instituído pelo Decreto nº 6.286, de 05 de
          dezembro de 2007, com a finalidade de contribuir para a formação integral dos estudantes da
          rede pública de educação básica (BRASIL, 2007).</p>

          <p>O PSE tem caráter intersetorial, sendo resultante da parceria entre os Ministérios da
          Educação (MEC) e da Saúde (MS). Integra uma política que atende aos princípios e diretrizes
          do Sistema Único de Saúde (SUS) e se propõe a ser um novo desenho da política de educação
          em saúde como parte de uma formação ampla para a cidadania, da promoção e articulação de
          saberes e da participação da comunidade escolar e sociedade em geral ao tratar estes dois
          setores de forma integral (BRASIL, 2015).</p>

          <p>O Programa passou por inúmeras modificações e ajustes ao longo do tempo. Dentre
          estas mudanças, uma das mais significativas está expressa na Portaria interministerial nº
          1.055/2017, na qual, – os componentes I II e III da Portaria nº 1.413/2013 passaram a
          constituir um conjunto de 12 Ações de Prevenção de Doenças e Promoção da Saúde, dentre
          estas destacamos as Ações de Promoção e Avaliação de Saúde Bucal, “que deverão ser
          desenvolvidas mediante planejamento intersetorial e gestão compartilhada entre a saúde e a
          educação” (BRASIL, 2017). </p>

          <p>Em conformidade com a Organização Mundial da Saúde (OMS), a saúde bucal é
          essencial para a saúde geral e o bem-estar das pessoas. Para a OMS as doenças orais, dentre
          outras a cárie dentária, restringem as atividades na escola, no trabalho e em casa, causando
          milhões de horas de escola e de trabalho a serem perdidas a cada ano, em todo o mundo
          (PETERSEN, 2003; WHO, 2003).</p>

          <p>As doenças dentárias influenciam consideravelmente a autoestima, a qualidade de vida
          e são caras de tratar (MOYNIHAN; PETERSEN, 2004). Dentre todas as enfermidades bucais
          a cárie dentária é a mais comum em odontologia e a doença crônica não transmissível mais
          prevalente no mundo. Além disso, é considerado um grave problema de saúde pública e um
          dos principais agravos abordados em pesquisas epidemiológicas (WHO, 2002).</p>

          <p>Com ampla distribuição populacional e comprometendo diferentes grupos de acordo
          com aspectos socioeconômicos e demográficos (MELO et al., 2011; DOS SANTOS JUNIOR,
          2014), a cárie dentária é uma doença multifatorial e sua prevalência e incidência está
          associada a condições sociais, econômicas, políticas e educacionais e não apenas como
          resultado de interações biológicas (MACIEL, 1994).</p>

          <p>Sabe-se, porém, que a nutrição afeta os dentes durante o seu desenvolvimento e a
          desnutrição pode exacerbar as doenças infecciosas orais. No entanto, o efeito mais
          significativo da nutrição nos dentes é a ação local da dieta na boca sobre o desenvolvimento
          de cáries dentárias e erosão do esmalte (MOYNIHAN; PETERSEN, 2004).</p>

          <p>No Brasil, apesar do declínio na prevalência de cárie na população escolar de 12 anos,
          os resultados do Projeto Brasil 2010, última pesquisa nacional de saúde bucal, revelam que
          56,5% das crianças nessa idade têm pelo menos um dente permanente com experiência de
          cárie. Isso representa aproximadamente 1,7 milhão de crianças. O problema ainda se
          manifesta de forma crítica em outros grupos etários, com piores condições para as Regiões
          Norte e Nordeste (BRASIL, 2012).</p>

          <p>A OMS recomenda os índices ceo-d e CPO-D para inquéritos epidemiológicos de
          cárie. Estes índices expressam a média de dentes cariados, perdidos e obturados dividida pela
          população pesquisada (PINTO, 2011).</p>

          <p>No município de Palmas – Tocantins, o Projeto SB Brasil 2010, indicou que a média
          dos índices ceo-d e CPO-D foram menores que as alcançadas pela Região Norte, porém,
          superiores as médias obtidas pelo Brasil, sobretudo nas faixas etárias de 12 e 15 a 19 anos
          (BRASIL, 2012).</p>

          <p>Com o surgimento do PSE, as ações de promoção da saúde bucal passaram a agregar
          enfoques diferentes. A PNSB e o PSE potencializaram o debate em torno da questão não
          apenas do oferecimento de ações e serviços de saúde, mas e principalmente, da construção de
          um novo paradigma: a saúde bucal inserida num modelo de saúde que promove
          responsabilidade social, cidadania e autonomia dos sujeitos envolvidos no processo educativo.</p>

          <p>Até o ano de 2012, 2.495 municípios haviam aderido ao PSE, que contemplou 56.157
          escolas e envolveu 14.439 Equipes de Saúde da Família (CAVICHIOLI, 2013). Após a
          publicação da Portaria 1.055/2017 o Programa alcançou 5.040 adesões de municípios,
          passando a envolver 85.706 escolas, 36.990 equipes de saúde e mais de 20 milhões de
          estudantes (BRASIL, 2017).</p>

          <p>O PSE foi lançado em Palmas em 2009 com apenas oito escolas. Em 2013, o
          município saltou de oito para 24 escolas, após a publicação da Portaria Interministerial nº
          1.413/2013, quando o PSE passou a ter uma perspectiva de universalização (PALMAS, 2009;
          BRASIL, 2015;).</p>

          <p>Dessas 24 escolas, seis pertenciam à rede estadual e 18 à rede municipal de ensino.
          Em 2017 o município deu novo salto, desta vez para 104 escolas com adesão ao PSE, sendo
          32 estaduais e 72 municipais, dessas 56 escolas municipais têm o ensino fundamental – sendo
          que 26 dessas escolas possuem alunos matriculados no 9º ano desse nível de ensino.
          (PALMAS, 2017).</p>

          <p>Dados Epidemiológicos relativos aos procedimentos realizados pelas equipes do PSE
          em 2016, e obtidos em fontes diretas da Secretaria Municipal de Saúde de Palmas (SEMUS)
          apontam que as ações de saúde bucal se destacaram como as mais realizadas pelo Programa
          (PALMAS, 2017).</p>
        </div>
        <div class="tab-pane fade" id="list-justificativa" role="tabpanel" aria-labelledby="list-justificativa-list">
          
          <p>Existem inúmeras definições de avaliação, porém, seus contornos no campo da saúde
          se delimitam no âmbito das políticas e programas sociais, consistindo fundamentalmente em
          aplicar um julgamento de valor a uma intervenção. Uma nova geração de avaliação está
          surgindo implicando na vontade explícita de aumentar o poder dos participantes graças ao
          processo de avaliação. Essa abordagem se compromete com a melhoria das políticas públicas,
          mas também a ajudar os grupos sociais a ela relacionados à melhor compreender os próprios
          problemas e as possibilidades de modificá-los a seu favor (HARTZ, 2009).</p>
          
          <p>O município de Palmas aderiu ao PSE desde 2013 e, entendendo a Saúde Bucal como
          integrante desse processo, verificou-se que desde então, nenhuma pesquisa foi feita para
          avaliar à saúde bucal dos estudantes matriculados nas escolas vinculadas a esse Programa.</p>
          
          <p>O que aconteceu no decorrer desse período permeia questões que estão no dia-a-dia
          das nossas práticas de saúde e educação, que precisam ser, constantemente, avaliadas ou
          reavaliadas, – por que –, em última análise, é no “chão da escola” e dos pontos da rede de
          atenção à saúde, por exemplo, que se institucionalizam e se efetivam, respectivamente, as
          Políticas de Educação e de Saúde.</p>
          
          <p>Como hipótese deste estudo destaca-se que as ações de saúde bucal desenvolvidas no
          PSE potencializam o desenvolvimento integral de crianças, adolescentes, jovens e adultos
          brasileiros, proporcionando o empoderamento de toda comunidade escolar e incentivando sua
          participação em programas e projetos que articulem saúde e educação em outras redes de
          proteção social. Desde aí deriva-se o seguinte questionamento: O PSE influencia a saúde
          bucal dos alunos matriculados no 9º ano do ensino fundamental, das escolas municipais de
          Palmas que aderiram ao Programa?
          
          <p>A expectativa é a de que esta pesquisa seja relevante para o município de Palmas, bem
          como para o Estado do Tocantins e Região Norte. O Tocantins tem menos de 30 anos de
          criação e pouca tradição em estudos na área da saúde bucal. Ademais, todos os cursos de
          odontologia existentes no Estado pertencem à rede privada de ensino e, em conformidade com
          o Presidente da Associação Nacional dos Dirigentes das Instituições de Ensino Superior – ANDIFES, “são as universidades públicas as responsáveis por quase toda a pesquisa
          científica e tecnológica realizada no Brasil” (TOURINHO, 2017). Assim, a possibilidade de
          realização desta pesquisa no âmbito do programa de Doutorado Interinstitucional entre a UFV
          e a UFT, vai ao encontro desta carência.</p>
          
          <p>Espera-se que este estudo possa ser usado por pesquisadores, profissionais da 
          educação e da saúde, por formuladores de políticas públicas para avaliação de programas,
          avaliação de saúde bucal com populações. Espera-se ainda, sensibilizar gestores da educação
          e da saúde para definir o conteúdo do currículo odontológico em relação à nutrição,
          quebrando um paradigma vigente na maioria dos cursos de odontologia brasileiros que
          relutam quanto à adaptação dos seus currículos às Diretrizes Curriculares Nacionais de
          Odontologia (DCN) ao insistirem na manutenção de currículos e metodologias de ensino que
          vão de encontro ao cuidado das condições crônicas na Atenção Primária em Saúde.</p>
          
          <p>Aguarda-se, ainda, que o estudo colabore para estreitar os laços institucionais entre a
          Secretaria Municipal de Saúde de Palmas (SEMUS) e a Universidade Federal do Tocantins
          (UFT). As duas instituições firmaram um Convênio de Colaboração Técnica para a realização
          do Saúde Bucal Palmas 2018 (SB Palmas 2018), um amplo levantamento epidemiológico de
          saúde bucal, de base amostral para a população em geral e censitária para os alunos do 9º ano
          do ensino fundamental, matriculados nas suas escolas municipais que aderiram ao PSE, objeto
          de estudo desta pesquisa.</p>
          
          <p>Salienta-se ainda que, no final de 2017 foram realizadas Oficinas e Rodas de
          Conversas, organizadas pelo pesquisador e Equipe Técnica da Saúde Bucal da SEMUS, com
          todos os Dentistas da Atenção Básica da Rede Municipal de Saúde, sensibilizando-os e
          mobilizando-os para a realização do inquérito epidemiológico. O treinamento destes
          profissionais, conhecido por “Calibração” está previsto para acontecer na primeira quinzena
          de abril deste ano.</p>
        </div>
        <div class="tab-pane fade" id="list-objetivos" role="tabpanel" aria-labelledby="list-objetivos-list">
          <p>Considerando os índices epidemiológicos obtidos por Palmas na última
          pesquisa nacional de saúde bucal realizada em 2010 e a fase de implantação do PSE, o objeto 
          desta pesquisa se volta para este Programa, enquanto política pública ligada aos campos da
          Educação e da Saúde, por compreender o momento bastante oportuno para a realização de
          uma avaliação da saúde bucal no âmbito do mesmo, no município de Palmas – Tocantins.</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}
