{% extends "administracao/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'administracao/css/graficos.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'estudo/css/estudo.css' %}">
{% endblock head %}

{% block header %}
  {% if request.session.lang == "en" %}
    Research results
  {% else %}
    Resultados da pesquisa
  {% endif %}
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">01. Number of students examined by age</div>
          {% else %}
            <div class="panel-title">01. Número de escolares examinados por idade</div>
          {% endif %}
        </div>
        <div class="panel-body">
          
          <div class="row">
          
            <div class="col-md-3 selection-panel">
              <div class="list-group">
                <button id="1-list-group-item-1" class="list-group-item list-group-item-action active" onclick="changeTab('1', '1', '4')">{% if request.session.lang == "en" %}General{% else %}Geral{% endif %}</button>
                <button id="1-list-group-item-2" class="list-group-item list-group-item-action" onclick="changeTab('1', '2', '4')">{% if request.session.lang == "en" %}School{% else %}Escola{% endif %}</button>
                <button id="1-list-group-item-3" class="list-group-item list-group-item-action" onclick="changeTab('1', '3', '4')">{% if request.session.lang == "en" %}Health territory{% else %}Território de saúde{% endif %}</button>
                <button id="1-list-group-item-4" class="list-group-item list-group-item-action" onclick="changeTab('1', '4', '4')">{% if request.session.lang == "en" %}Macroregion{% else %}Macrorregião{% endif %}</button>
              </div>
            </div>
            
            <div class="col-md-9 data-panel">
              <div class="data-panel-division" id="1-data-panel-1">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th><= 12</th>
                      <th>13</th>
                      <th>14</th>
                      <th>15</th>
                      <th>16</th>
                      <th>17</th>
                      <th>18</th>
                      <th>>= 19</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ idade_geral.0 }}</td>
                      <td>{{ idade_geral.1 }}</td>
                      <td>{{ idade_geral.2 }}</td>
                      <td>{{ idade_geral.3 }}</td>
                      <td>{{ idade_geral.4 }}</td>
                      <td>{{ idade_geral.5 }}</td>
                      <td>{{ idade_geral.6 }}</td>
                      <td>{{ idade_geral.7 }}</td>
                      <td>{{ idade_geral.8 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="1-data-panel-2">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th><= 12</th>
                      <th>13</th>
                      <th>14</th>
                      <th>15</th>
                      <th>16</th>
                      <th>17</th>
                      <th>18</th>
                      <th>>= 19</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in idade_escolas %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                      <td>{{ linha.5 }}</td>
                      <td>{{ linha.6 }}</td>
                      <td>{{ linha.7 }}</td>
                      <td>{{ linha.8 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="1-data-panel-3">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th><= 12</th>
                      <th>13</th>
                      <th>14</th>
                      <th>15</th>
                      <th>16</th>
                      <th>17</th>
                      <th>18</th>
                      <th>>= 19</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in idade_territorios_saude %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                      <td>{{ linha.5 }}</td>
                      <td>{{ linha.6 }}</td>
                      <td>{{ linha.7 }}</td>
                      <td>{{ linha.8 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="1-data-panel-4">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th><= 12</th>
                      <th>13</th>
                      <th>14</th>
                      <th>15</th>
                      <th>16</th>
                      <th>17</th>
                      <th>18</th>
                      <th>>= 19</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in idade_macrorregioes %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                      <td>{{ linha.5 }}</td>
                      <td>{{ linha.6 }}</td>
                      <td>{{ linha.7 }}</td>
                      <td>{{ linha.8 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            
          </div> <!-- row -->
          
        </div> <!-- panel body -->
      </div> <!-- panel -->
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">02. Number of students examined by race</div>
          {% else %}
            <div class="panel-title">02. Número de escolares examinados por raça</div>
          {% endif %}
        </div>
        <div class="panel-body">
          
          <div class="row">
          
            <div class="col-md-3 selection-panel">
              <div class="list-group">
                <button id="2-list-group-item-1" class="list-group-item list-group-item-action active" onclick="changeTab('2', '1', '4')">{% if request.session.lang == "en" %}General{% else %}Geral{% endif %}</button>
                <button id="2-list-group-item-2" class="list-group-item list-group-item-action" onclick="changeTab('2', '2', '4')">{% if request.session.lang == "en" %}School{% else %}Escola{% endif %}</button>
                <button id="2-list-group-item-3" class="list-group-item list-group-item-action" onclick="changeTab('2', '3', '4')">{% if request.session.lang == "en" %}Health territory{% else %}Território de saúde{% endif %}</button>
                <button id="2-list-group-item-4" class="list-group-item list-group-item-action" onclick="changeTab('2', '4', '4')">{% if request.session.lang == "en" %}Macroregion{% else %}Macrorregião{% endif %}</button>
              </div>
            </div>
            
            <div class="col-md-9 data-panel">
              <div class="data-panel-division" id="2-data-panel-1">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Yellow</th>
                      <th>White</th>
                      <th>Indigenous</th>
                      <th>Mixed color</th>
                      <th>Black</th>
                    {% else %}
                      <th></th>
                      <th>Amarela</th>
                      <th>Branca</th>
                      <th>Idígena</th>
                      <th>Parda</th>
                      <th>Preta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ raca_geral.0 }}</td>
                      <td>{{ raca_geral.1 }}</td>
                      <td>{{ raca_geral.2 }}</td>
                      <td>{{ raca_geral.3 }}</td>
                      <td>{{ raca_geral.4 }}</td>
                      <td>{{ raca_geral.5 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="2-data-panel-2">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Yellow</th>
                      <th>White</th>
                      <th>Indigenous</th>
                      <th>Mixed color</th>
                      <th>Black</th>
                    {% else %}
                      <th></th>
                      <th>Amarela</th>
                      <th>Branca</th>
                      <th>Idígena</th>
                      <th>Parda</th>
                      <th>Preta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in raca_escolas %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                      <td>{{ linha.5 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="2-data-panel-3">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Yellow</th>
                      <th>White</th>
                      <th>Indigenous</th>
                      <th>Mixed color</th>
                      <th>Black</th>
                    {% else %}
                      <th></th>
                      <th>Amarela</th>
                      <th>Branca</th>
                      <th>Idígena</th>
                      <th>Parda</th>
                      <th>Preta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in raca_territorios_saude %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                      <td>{{ linha.5 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="2-data-panel-4">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Yellow</th>
                      <th>White</th>
                      <th>Indigenous</th>
                      <th>Mixed color</th>
                      <th>Black</th>
                    {% else %}
                      <th></th>
                      <th>Amarela</th>
                      <th>Branca</th>
                      <th>Idígena</th>
                      <th>Parda</th>
                      <th>Preta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in raca_macrorregioes %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                      <td>{{ linha.5 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            
          </div> <!-- row -->
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">03. Number of students examined by sex</div>
          {% else %}
            <div class="panel-title">03. Número de escolares examinados por sexo</div>
          {% endif %}
        </div>
        <div class="panel-body">
          
          <div class="row">
          
            <div class="col-md-3 selection-panel">
              <div class="list-group">
                <button id="3-list-group-item-1" class="list-group-item list-group-item-action active" onclick="changeTab('3', '1', '4')">{% if request.session.lang == "en" %}General{% else %}Geral{% endif %}</button>
                <button id="3-list-group-item-2" class="list-group-item list-group-item-action" onclick="changeTab('3', '2', '4')">{% if request.session.lang == "en" %}School{% else %}Escola{% endif %}</button>
                <button id="3-list-group-item-3" class="list-group-item list-group-item-action" onclick="changeTab('3', '3', '4')">{% if request.session.lang == "en" %}Health territory{% else %}Território de saúde{% endif %}</button>
                <button id="3-list-group-item-4" class="list-group-item list-group-item-action" onclick="changeTab('3', '4', '4')">{% if request.session.lang == "en" %}Macroregion{% else %}Macrorregião{% endif %}</button>
              </div>
            </div>
            
            <div class="col-md-9 data-panel">
              <div class="data-panel-division" id="3-data-panel-1">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Male</th>
                      <th>Female</th>
                      <th>Other</th>
                      <th>Don't answered</th>
                    {% else %}
                      <th></th>
                      <th>Masculino</th>
                      <th>Feminino</th>
                      <th>Outro</th>
                      <th>Sem resposta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ sexo_geral.0 }}</td>
                      <td>{{ sexo_geral.1 }}</td>
                      <td>{{ sexo_geral.2 }}</td>
                      <td>{{ sexo_geral.3 }}</td>
                      <td>{{ sexo_geral.4 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="3-data-panel-2">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Male</th>
                      <th>Female</th>
                      <th>Other</th>
                      <th>Don't answered</th>
                    {% else %}
                      <th></th>
                      <th>Masculino</th>
                      <th>Feminino</th>
                      <th>Outro</th>
                      <th>Sem resposta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in sexo_escolas %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="3-data-panel-3">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Male</th>
                      <th>Female</th>
                      <th>Other</th>
                      <th>Don't answered</th>
                    {% else %}
                      <th></th>
                      <th>Masculino</th>
                      <th>Feminino</th>
                      <th>Outro</th>
                      <th>Sem resposta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in sexo_territorios_saude %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="3-data-panel-4">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                    {% if request.session.lang == "en" %}
                      <th></th>
                      <th>Male</th>
                      <th>Female</th>
                      <th>Other</th>
                      <th>Don't answered</th>
                    {% else %}
                      <th></th>
                      <th>Masculino</th>
                      <th>Feminino</th>
                      <th>Outro</th>
                      <th>Sem resposta</th>
                    {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in sexo_macrorregioes %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1 }}</td>
                      <td>{{ linha.2 }}</td>
                      <td>{{ linha.3 }}</td>
                      <td>{{ linha.4 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            
          </div> <!-- row -->
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">04. CPO-D general index, by schools, healthy territory and macroregion</div>
          {% else %}
            <div class="panel-title">04. Índices CPO-D geral, por escola, por território de saúde e por macrorregião</div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div class="row">
          
            <div class="col-md-3 selection-panel">
              <div class="list-group">
                <button id="4-list-group-item-1" class="list-group-item list-group-item-action active" onclick="changeTab('4', '1', '4')">{% if request.session.lang == "en" %}General{% else %}Geral{% endif %}</button>
                <button id="4-list-group-item-2" class="list-group-item list-group-item-action" onclick="changeTab('4', '2', '4')">{% if request.session.lang == "en" %}School{% else %}Escola{% endif %}</button>
                <button id="4-list-group-item-3" class="list-group-item list-group-item-action" onclick="changeTab('4', '3', '4')">{% if request.session.lang == "en" %}Health territory{% else %}Território de saúde{% endif %}</button>
                <button id="4-list-group-item-4" class="list-group-item list-group-item-action" onclick="changeTab('4', '4', '4')">{% if request.session.lang == "en" %}Macroregion{% else %}Macrorregião{% endif %}</button>
              </div>
            </div>
            
            <div class="col-md-9 data-panel">
              <div class="data-panel-division" id="4-data-panel-1">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th>CPO-D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ cpod_geral.0 }}</td>
                      <td>{{ cpod_geral.1|floatformat:2 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="4-data-panel-2">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th>CPO-D</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in cpod_escolas %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="4-data-panel-3">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th>CPO-D</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in cpod_territorios_saude %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
              <div class="data-panel-division hidden" id="4-data-panel-4">
                <table class="table table-striped table-hover" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th>CPO-D</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for linha in cpod_macrorregioes %}
                    <tr>
                      <td>{{ linha.0 }}</td>
                      <td>{{ linha.1|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            
          </div> <!-- row -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">05. What is the percentage of healthy, decayed, restored but with caries, restored without caries, lost because of caries, lost for another reason, has sealant, tooth-supported bridge or tooth crown, unerupted?</div>
          {% else %}
            <div class="panel-title">05. Qual o percentual dos componentes hígido, cariado, restaurado, mas com cárie, restaurado, sem cárie, perdido devido a carie, perdido por outras razões, apresenta selante, apoio depoente ou coroa, não erupcionado, dente excluído nas dentições permanente (CPO-D) e decídua (ceo-d)?</div>
          {% endif %}
        </div>
        <div class="panel-body">
          <p>TO DO</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">06. Need of treatment by code and criterion.</div>
          {% else %}
            <div class="panel-title">06. Necessidade de tratamento por código e critério.</div>
          {% endif %}
        </div>
        <div class="panel-body">
          <p>TO DO</p>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'administracao/vendor/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
  <script src="{% static 'administracao/js/html2canvas.min.js' %}"></script>
  <script src="{% static 'administracao/js/graficos_alunos.js' %}"></script>
  <script src="{% static 'estudo/js/estudo.js' %}"></script>
  
{% endblock content %}
