{% extends "administracao/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'administracao/css/graficos.css' %}">
{% endblock head %}

{% block header %}
  Resultados da pesquisa
{% endblock header %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">01. Número de escolares examinados por idade.</div>
        </div>
        <div class="panel-body">
          <p>Geral</p>
          <p>Escola</p>
          <p>Território de saúde</p>
          <p>Distrito sanitário</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">02. Número de escolares examinados por cor.</div>
        </div>
        <div class="panel-body">
          <p>Geral</p>
          <p>Escola</p>
          <p>Território de saúde</p>
          <p>Distrito sanitário</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">03. Número de escolares examinados por sexo.</div>
        </div>
        <div class="panel-body">
          <p>Geral</p>
          <p>Escola</p>
          <p>Território de saúde</p>
          <p>Distrito sanitário</p>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'administracao/vendor/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
  <script src="{% static 'administracao/js/html2canvas.min.js' %}"></script>
  <script src="{% static 'administracao/js/graficos_alunos.js' %}"></script>
  
{% endblock content %}
