{% extends "administracao/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'administracao/vendor/datatables-colvis/css/dataTables.colVis.css' %}">
  <link rel="stylesheet" href="{% static 'administracao/datatables/css/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'administracao/vendor/dataTables.fontAwesome/index.css' %}">
{% endblock head %}

{% block header %}
  {% if request.session.lang == "en" %}
    Photos
  {% else %}
    Fotos
  {% endif %}
  <div class="pull-right">
    <form action="{% url 'gerencia:cria_foto' %}">
      <button class="btn btn-labeled btn-success" type="submit">
        <span class="btn-label"><i class="fa fa-plus"></i></span>{% if request.session.lang == "en" %}New{% else %}Novo{% endif %}
      </button>
    </form>
  </div>
{% endblock header %}

{% block content %}
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% if request.session.lang == "en" %}
              Photos | <small>Select to see the details</small>
            {% else %}
              Fotos | <small>Selecione para ver detalhes</small>
            {% endif %}
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover" id="tabela">
                <thead>
                  <tr>
                    {% if request.session.lang == "en" %}
                      <th>Title</th>
                      <th>Criation date</th>
                      <th>URL</th>
                    {% else %}
                      <th>Título</th>
                      <th>Data de criação</th>
                      <th>URL</th>
                    {% endif %}
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for foto in fotos %}
                    <tr>
                      <td>{{ foto.titulo }}</td>
                      <td>{{ foto.data }}</td>
                      <td>{{ foto.url }}</td>
                      <td class="text-right">
                          <form action="{% url 'gerencia:edita_foto' foto.id %}">
                            <button class="btn btn-labeled btn-info" type="submit">
                              <span class="btn-label"><i class="fa fa-edit"></i></span>{% if request.session.lang == "en" %}Update{% else %}Editar{% endif %}
                            </button>
                          </form>
                        </td>
                        <td class="text-right">
                          <form action="{% url 'gerencia:remove_foto' foto.id %}">
                            <button class="btn btn-labeled btn-danger" type="submit">
                              <span class="btn-label"><i class="fa fa-remove"></i></span>{% if request.session.lang == "en" %}Delete{% else %}Excluir{% endif %}
                            </button>
                          </form>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'administracao/datatables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-colvis/js/dataTables.colVis.js' %}"></script>
  <script src="{% static 'administracao/datatables/js/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-buttons/js/dataTables.buttons.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-buttons/js/buttons.bootstrap.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-buttons/js/buttons.colVis.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-buttons/js/buttons.flash.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-buttons/js/buttons.html5.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-buttons/js/buttons.print.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-responsive/js/dataTables.responsive.js' %}"></script>
  <script src="{% static 'administracao/vendor/datatables-responsive/js/responsive.bootstrap.js' %}"></script>
  
  {% if request.session.lang == "en" %}
    <script src="{% static 'administracao/js/datatable_en.js' %}"></script>
  {% else %}
    <script src="{% static 'administracao/js/datatable.js' %}"></script>
  {% endif %}
  
{% endblock content %}
