/* Definição de fontes */
body {
    font-family: Quicksand;
    margin-top: 60px;
}

iframe {
    width: 200;
    height: 200;
    margin: 10px;
}

h2 {
    padding: 30px;
}

.img-uni {
    width: auto;
    height: 150px;
}

.tamanho-minimo {
    min-height: 500px;
}

.painel-arquivo {
    padding: 10px;
    margin-bottom: 15px;
}

.carousel-imgs {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Header */
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 120px;
  }
}

/* Mídia */
#logomarca {
    height: auto;
    width: 190px;
}

.logomarca-pequena {
    height: auto;
    width: 30px;
}

/* Seções */
#cabecalho {
    background-color: #00695c;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

#cronograma {
    background-color: #ffffff;
    padding: 110px 0;
}

#escolas {
    background-color: #00695c;
    padding: 60px 0;
    color: #ffffff;
}

.titulo {
    padding-bottom: 40px;
}

footer {
    background-color: #00838f;
    color: #ffffff;
    padding: 40px 0;
}

footer a {
    color: #ffffff;
}

.card-body {
    margin: 0px auto;
}

/* Mapa de localizações */
#map {
    width: 100%;
    height: 500px;
}

#uft {
    width: 500px;
    height: 400px;
    margin-bottom: 50px;
}

/* Efeito de fadein para imagens */

.img-fadein {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
} 
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
