/* Definição de fontes */
body {
    font-family: Quicksand;
}

/* Muda a cor da navbar quando houver scroll */
.transparent-nav {
    background-color: transparent !important;
    transition: background-color 200ms linear !important;
}
.white-nav {
    background-color: #ffffff !important;
    transition: background-color 200ms linear !important;
}
.black-nav {
    background-color: #005a4f !important;
    transition: background-color 200ms linear !important;
}
.black-link{
    color: #ffffff !important;
}
.white-link {
    color: #ffffff !important;
}

.float-header {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #858688;
    min-height: 100px;
    min-width: 80%;
    position: absolute;
    top: 25%;
}
.float-header-text {
    padding-top: 35px;
}

iframe {
    width: 200;
    height: 200;
    margin: 10px;
}

.img-uni {
    width: auto;
    height: 150px;
}

.content-div {
    padding-top: 30px;
    min-height: 500px;
}

.painel-arquivo {
    padding: 10px;
    margin-bottom: 15px;
}

.carousel-imgs {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Header */
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 120px;
  }
}

/* Mídia */
#logomarca {
    height: auto;
    width: 190px;
}

.logomarca-pequena {
    height: auto;
    width: 30px;
    /* filter: brightness(0) invert(1); */
}

/* Seções */
#cabecalho {
    background-color: #00695c;
    background-image: linear-gradient(to bottom right, #00695c, #009885);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-top: 70px;
    /* margin-bottom: 40px; */
}
#cabecalho a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    background-color: #2d3246;;
    color: #ffffff;
    padding: 40px 0;
}
footer a, footer a:focus, footer a:active, footer a:hover {
    color: #ffffff;
}
footer ul, footer ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-body {
    margin: 0px auto;
}

/* Personalização das notícias */
.div-noticia {
    padding-bottom: 30px;
}
.titulo-noticia {
    text-align: left;
    color: #00695c;
}
.data-noticia {
    color: #979797;
}
.texto-noticia {
    color: #000000;
}

/* Persocalização da página de projeto */
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #009885;
    border-color: #009885;
}

/* Mapa de localizações */
#map {
    width: 100%;
    height: 500px;
}

#uft {
    width: 500px;
    height: 400px;
    margin-bottom: 50px;
}

/* Efeito de fadein para imagens */

.img-fadein {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
} 
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
