{% extends "administracao/base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock head %}

{% block header %}
  {% if request.session.lang == "en" %}
    Data export
  {% else %}
    Exportação de dados
  {% endif %}
{% endblock header %}

{% block content %}
  
  {% if request.session.lang == "en" %}
  
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">All the data</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file with this format:</p>
            <p>campaign; action; all the data from student; all the data from school; all the data from questionnaire; all the data from exam</p>
            <a href="{% url 'exportacao:download_completo' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Students who answered the exam and the questionnaire</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file with this format:</p>
            <p>student; school</p>
            <a href="{% url 'exportacao:download_aluno_questionario_exame' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Campaigns list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all campaigns.</p>
            <a href="{% url 'exportacao:lista_campanhas' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Actions list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all actions.</p>
            <a href="{% url 'exportacao:lista_acoes' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Schools list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all schools.</p>
            <a href="{% url 'exportacao:lista_escolas' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Students list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all students.</p>
            <a href="{% url 'exportacao:lista_alunos' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Questionnaires list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all questionnaires.</p>
            <a href="{% url 'exportacao:lista_questionarios' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Exams list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all exams.</p>
            <a href="{% url 'exportacao:lista_exames' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Principal questionnaires list</div>
          </div>
          <div class="panel-body">
            <p>This option generates a <i>.csv</i> file listing all principal questionnaires.</p>
            <a href="{% url 'exportacao:lista_diretores' %}" class="btn btn-primary">Export</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
  
  {% else %}
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Todo o banco</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a seguinte formato:</p>
            <p>campanha; ação; todos os dados de aluno; todos os dados de escola; todos os dados de questionário; todos os dados de exame</p>
            <a href="{% url 'exportacao:download_completo' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Alunos que fizeram o exame e o questionário</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a seguinte formato:</p>
            <p>aluno; escola</p>
            <a href="{% url 'exportacao:download_aluno_questionario_exame' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de campanhas</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos as campanhas.</p>
            <a href="{% url 'exportacao:lista_campanhas' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de ações</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos as ações.</p>
            <a href="{% url 'exportacao:lista_acoes' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de escolas</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos as escolas.</p>
            <a href="{% url 'exportacao:lista_escolas' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de alunos</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos os alunos.</p>
            <a href="{% url 'exportacao:lista_alunos' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de questionários</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos os questionários.</p>
            <a href="{% url 'exportacao:lista_questionarios' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de exames</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos os exames.</p>
            <a href="{% url 'exportacao:lista_exames' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Lista de questionários de diretores</div>
          </div>
          <div class="panel-body">
            <p>Esta opção gera um arquivo <i>.csv</i> com a lista de todos os questionários respondidos pelos diretores de escola.</p>
            <a href="{% url 'exportacao:lista_diretores' %}" class="btn btn-primary">Exportar</a>
          </div> <!-- panel body -->
        </div> <!-- panel -->
      </div>
    </div>
    
  {% endif %}
  
{% endblock content %}
