{% extends "administracao/base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
  <link rel="stylesheet" href="{% static 'administracao/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
{% endblock head %}

{% block header %}
  {% if pagina_campanhas %}
    Edição da campanha {{ campanha.nome }}
  {% elif pagina_acoes %}
    Edição da ação {{ acao.nome }}
  {% elif pagina_escolas %}
    Edição da escola {{ escola.nome }}
  {% elif pagina_alunos %}
    Edição do aluno {{ aluno.id }}
  {% elif pagina_questionarios %}
    Edição do questionário do aluno {{ questionario.aluno.id }}
  {% elif pagina_exames %}
    Edição do exame do aluno {{ exame.aluno.id }}
  {% endif %}
{% endblock header %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
      {% if pagina_campanhas %}
        <form action="{% url 'administracao:edita_campanha' campanha.id %}" method="post" class="form-horizontal">
      {% elif pagina_acoes %}
        <form action="{% url 'administracao:edita_acao' acao.id %}" method="post" class="form-horizontal">
      {% elif pagina_escolas %}
        <form action="{% url 'administracao:edita_escola' escola.id %}" method="post" class="form-horizontal">
      {% elif pagina_alunos %}
        <form action="{% url 'administracao:edita_aluno' aluno.id %}" method="post" class="form-horizontal">
      {% elif pagina_questionarios %}
        <form action="{% url 'administracao:edita_questionario' questionario.id %}" method="post" class="form-horizontal">
      {% elif pagina_exames %}
        <form action="{% url 'administracao:edita_exame' exame.id %}" method="post" class="form-horizontal">
      {% endif %}
      
        {% csrf_token %}
        
        {% for field in form %}
          <div class="form-group">
            {{ field.errors }}
            
            <label class="col-lg-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
            <div class="col-lg-10">
              {% if field|field_type == "datefield" %}
                <div class="input-group date date-picker">
                  {{ field|add_class:'form-control' }}
                  <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                  </span>
                </div>
                <script type="text/javascript">
                  $(function () {
                    $('.date-picker').datetimepicker({
                      format: 'L',
                      locale: 'pt-br',
                    });
                  });
                </script>
              {% elif field|field_type == "timefield" %}
                <div class="input-group date time-picker">
                  {{ field|add_class:'form-control' }}
                  <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                  </span>
                </div>
                <script type="text/javascript">
                  $(function () {
                    $('.time-picker').datetimepicker({
                      format: 'HH:mm',
                      locale: 'LT',
                    });
                  });
                </script>
              {% else %}
                {{ field|add_class:'form-control' }}
              {% endif %}
            </div>
            
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
        
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-sm btn-default" type="submit" name="submit">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <script src="{% static 'administracao/js/mapa.js' %}"></script>
  <script src="{% static 'administracao/vendor/moment/min/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'administracao/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock content %}
