{% extends "administracao/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'administracao/css/graficos.css' %}">
{% endblock head %}

{% block header %}
  {% if request.session.lang == "en" %}
    Graphs for the students table
  {% else %}
    Gráficos para a tabela de alunos
  {% endif %}
{% endblock header %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">01. Students per school <button id="baixa-grafico-1" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">01. Alunos por escola participante <button id="baixa-grafico-1" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="aluno_por_escola" class="grafico-gigante"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">02. Students per sex <button id="baixa-grafico-2" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">02. Sexo <button id="baixa-grafico-2" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="sexo" class="grafico"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">03. Participation <button id="baixa-grafico-3" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">03. Participação <button id="baixa-grafico-3" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="participacao" class="grafico"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">04. Students per race <button id="baixa-grafico-4" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">04. Alunos divididos por raça <button id="baixa-grafico-4" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="raca" class="grafico-grande"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    var aluno_por_escola = {{ aluno_por_escola }};
    var participacao = {{ participacao }};
    var sexo = {{ sexo }};
    var raca = {{ raca }};
  </script>
  
  <script src="{% static 'administracao/vendor/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
  <script src="{% static 'administracao/js/html2canvas.min.js' %}"></script>
  
  {% if request.session.lang == "en" %}
    <script src="{% static 'administracao/js/graficos_alunos_en.js' %}"></script>
  {% else %}
    <script src="{% static 'administracao/js/graficos_alunos.js' %}"></script>
  {% endif %}
  
{% endblock content %}
