{% extends "administracao/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'administracao/css/graficos.css' %}">
{% endblock head %}

{% block header %}
  {% if request.session.lang == "en" %}
    Graphs for the exams table
  {% else %}
    Gráficos para a tabela de exames
  {% endif %}
{% endblock header %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">01. Dental problems occurrence<button id="baixa-grafico-1" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">01. Ocorrência de problemas na coroa<button id="baixa-grafico-1" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="situacao_coroa" class="grafico"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">02. Treatment indication occurrence<button id="baixa-grafico-2" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">02. Ocorrência de indicação de tratamento<button id="baixa-grafico-2" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="tratamento_necessario" class="grafico"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">03. Periodontal problems occurrence<button id="baixa-grafico-3" class="navbar-right btn btn-sm btn-default">Download</button></div>
          {% else %}
            <div class="panel-title">03. Ocorrência de problemas periodontais<button id="baixa-grafico-3" class="navbar-right btn btn-sm btn-default">Baixar</button></div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div id="condicao_periodontal" class="grafico"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    var situacao_coroa = {{ situacao_coroa }};
    var tratamento_necessario = {{ tratamento_necessario }};
    var condicao_periodontal = {{ condicao_periodontal }};
  </script>
  
  <script src="{% static 'administracao/vendor/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.valuelabels.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.categories.js' %}"></script>
  <script src="{% static 'administracao/js/html2canvas.min.js' %}"></script>
  
  {% if request.session.lang == "en" %}
    <script src="{% static 'administracao/js/graficos_exames_en.js' %}"></script>
  {% else %}
    <script src="{% static 'administracao/js/graficos_exames.js' %}"></script>
  {% endif %}
  
{% endblock content %}
