{% extends "administracao/base.html" %}

{% block head %}
  <!-- Cabeçalho local -->
{% endblock head %}

{% block header %}
  {% if pagina_campanhas %}
    Remoção da campanha {{ campanha.nome }}
  {% elif pagina_acoes %}
    Remoção da ação {{ acao.nome }}
  {% elif pagina_escolas %}
    Remoção da escola {{ escola.nome }}
  {% elif pagina_alunos %}
    Remoção do aluno {{ aluno.id }}
  {% elif pagina_questionarios %}
    Remoção do questionário do aluno {{ questionario.aluno.id }}
  {% elif pagina_exames %}
    Remoção do exame do aluno {{ exame.aluno.id }}
  {% endif %}
{% endblock header %}

{% block content %}
  <div class="col-xs-12 text-center">
    <div class="panel panel-danger">
      <div class="panel-heading">Confirmação de remoção</div>
      <div class="panel-body">
        <form method="post">
          {% csrf_token %}
          
          <div class="form-group">
            <p>A remoção desta entrada resulta em perda permanente dos dados.</p>
            <p>Deseja remover a entrada?</p>
          </div>
          
          <div class="form-group">
            <button class="btn btn-sm btn-default" type="submit" name="submit">Confirmar remoção</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
