{% extends "administracao/base.html" %}

{% load staticfiles %}

{% block head %}
  <!-- Cabeçalho local -->
{% endblock head %}

{% block header %}
  {% if request.session.lang == "en" %}
    Overview
  {% else %}
    Visão geral
  {% endif %}
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="painel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">Campaign informations</div>
          {% else %}
            <div class="panel-title">Informações sobre as campanhas</div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <em class="fa fa-bookmark fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="text-lg">{{ campanhas }}</div>
                    {% if request.session.lang == "en" %}
                      <p class="m0">Campaigns</p>
                    {% else %}
                      <p class="m0">Campanhas</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="{% url 'administracao:campanhas' %}">
                {% if request.session.lang == "en" %}
                  <span class="pull-left">See details</span>
                {% else %}
                  <span class="pull-left">Ver detalhes</span>
                {% endif %}
                <span class="pull-right">
                  <em class="fa fa-chevron-circle-right"></em>
                </span>
              </a>
              <!-- END panel-->
            </div>
          </div>
          <div class="col-md-4">
            <!-- START panel-->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <em class="fa fa-bookmark-o fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="text-lg">{{ acoes }}</div>
                    {% if request.session.lang == "en" %}
                      <p class="m0">Actions</p>
                    {% else %}
                      <p class="m0">Ações</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="{% url 'administracao:acoes' %}">
                {% if request.session.lang == "en" %}
                  <span class="pull-left">See details</span>
                {% else %}
                  <span class="pull-left">Ver detalhes</span>
                {% endif %}
                <span class="pull-right">
                  <em class="fa fa-chevron-circle-right"></em>
                </span>
              </a>
            </div>
            <!-- END panel-->
          </div>
          <div class="col-md-4">
            <!-- START panel-->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <em class="fa fa-book fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="text-lg">{{ escolas }}</div>
                    {% if request.session.lang == "en" %}
                      <p class="m0">Schools</p>
                    {% else %}
                      <p class="m0">Escolas</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="{% url 'administracao:escolas' %}">
                {% if request.session.lang == "en" %}
                  <span class="pull-left">See details</span>
                {% else %}
                  <span class="pull-left">Ver detalhes</span>
                {% endif %}
                <span class="pull-right">
                  <em class="fa fa-chevron-circle-right"></em>
                </span>
              </a>
            </div>
            <!-- END panel-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="painel-info">
        <div class="panel-heading">
          {% if request.session.lang == "en" %}
            <div class="panel-title">Students information</div>
          {% else %}
            <div class="panel-title">Informações sobre os alunos</div>
          {% endif %}
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <em class="fa fa-users fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="text-lg">{{ alunos }}</div>
                    {% if request.session.lang == "en" %}
                      <p class="m0">Students</p>
                    {% else %}
                      <p class="m0">Alunos</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="{% url 'administracao:alunos' %}">
                {% if request.session.lang == "en" %}
                  <span class="pull-left">See details</span>
                {% else %}
                  <span class="pull-left">Ver detalhes</span>
                {% endif %}
                <span class="pull-right">
                  <em class="fa fa-chevron-circle-right"></em>
                </span>
              </a>
              <!-- END panel-->
            </div>
          </div>
          <div class="col-md-4">
            <!-- START panel-->
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <em class="fa fa-question fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="text-lg">{{ questionarios }}</div>
                    {% if request.session.lang == "en" %}
                      <p class="m0">Questionnaries</p>
                    {% else %}
                      <p class="m0">Questionários</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="{% url 'administracao:questionarios' %}">
                {% if request.session.lang == "en" %}
                  <span class="pull-left">See details</span>
                {% else %}
                  <span class="pull-left">Ver detalhes</span>
                {% endif %}
                <span class="pull-right">
                  <em class="fa fa-chevron-circle-right"></em>
                </span>
              </a>
            </div>
            <!-- END panel-->
         </div>
         <div class="col-md-4">
            <!-- START panel-->
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <em class="fa fa-user-md fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="text-lg">{{ exames }}</div>
                    {% if request.session.lang == "en" %}
                      <p class="m0">Exams</p>
                    {% else %}
                      <p class="m0">Exames</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="{% url 'administracao:exames' %}">
                {% if request.session.lang == "en" %}
                  <span class="pull-left">See details</span>
                {% else %}
                  <span class="pull-left">Ver detalhes</span>
                {% endif %}
                <span class="pull-right">
                  <em class="fa fa-chevron-circle-right"></em>
                </span>
              </a>
            </div>
            <!-- END panel-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'administracao/vendor/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.resize.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.time.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot/jquery.flot.categories.js' %}"></script>
  <script src="{% static 'administracao/vendor/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
  <script src="{% static 'administracao/js/demo/demo-flot.js' %}"></script>

{% endblock content %}
